.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Nagłówki */
  h2 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  h3 {
    color: #555;
    margin: 0 0 10px 0;
  }
  
  /* Formularz dodawania nowej listy */
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  /* Lista zakupów */
  .shopping-list {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .shopping-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .shopping-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .shopping-list ul li:last-child {
    border-bottom: none;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  
  /* Przycisk usuwania */
  button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  /* Stylizacja formularza dodawania elementu */
  .add-item-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    width: 100%;
  }
  
.add-item-form input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 25%;
  }
  
.add-item-form button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
  }
  
.add-item-form button:hover {
    background-color: #0056b3;
  }
  